body {
    font-family: Arial;
    background: linear-gradient(to right, #141e30, #243b55);
    color: white;
    text-align: center;
}

.container {
    margin-top: 100px;
}

input {
    padding: 10px;
    margin: 10px;
    width: 200px;
    border-radius: 5px;
    border: none;
}

button {
    padding: 12px 25px;
    background: #00c853;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #00e676;
}.card {
    margin: 40px auto;
    padding: 20px;
    width: 60%;
    background: rgba(255,255,255,0.1);
    border-radius: 10px;
    text-align: center;
    font-size: 22px;
    box-shadow: 0 0 15px rgba(255,255,255,0.1);
}

iframe {
    margin-top: 20px;
    border-radius: 10px;
}